@model IEnumerable<Sladko_Izkushenie.Data.Product>

@{
    ViewData["Title"] = "Изкушения";
}

<h1>Изкушения :)</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-outline-success" asp-action="Create">Създай</a>
    </p>
}
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ImgURL)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Time_of_register)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>*@
                <td>
                    <img width="150" height="150" src="@Html.DisplayFor(modelItem => item.ImgURL )" />
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time_of_register)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Category_Type)
                    </td>*@
                <td>
                    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                    <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                    <a class="btn btn-outline-secondary" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>
