@model IEnumerable<Sladko_Izkushenie.Data.Order>

@{
    ViewData["Title"] = "Поръчки";
}

<h1>Поръчки</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Създай</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_date)
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                <a class="btn btn-outline-secondary" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
